description "Example API"
author "StarterSquad"

start on runlevel [2345]
stop on runlevel [016]

respawn
console log
setuid {{ansible_user_id}}
setgid {{ansible_user_id}}

env HOME={{install_dir_server}}

exec start-stop-daemon --chdir ${HOME} --start --make-pid --pid={{install_dir}}/example-api.pid --exec /usr/bin/node -- server
