Vagrant.configure("2") do |config|

    {% for b in boxes %}
    config.vm.define :{{ b.name }} do |box|
        box.vm.box = "precise_base"
        box.vm.hostname = "{{ b.ip|replace('.', '-') }}"

        box.vm.network :private_network, ip: "{{b.ip}}"

        box.vm.provider :virtualbox do |vb|
            vb.customize ["modifyvm", :id, "--memory", "1024"]
            vb.customize ["modifyvm", :id, "--vtxvpid", "off"]
            vb.customize ["modifyvm", :id, "--cpus", "1"]
        end

        {% for s in b.shares %}
        config.vm.synced_folder "{{s.src}}", "{{s.dst}}"
        {% endfor %}

        box.vm.provision :ansible do |ansible|
            ansible.playbook = "{{ b.playbook }}"

            extra_vars = {
                user: "vagrant",
                prudentia_dir: "{{ prudentia_root_dir }}"
            }
            ansible.raw_arguments = "--extra-vars=" + extra_vars.map { |k,v| "#{k}=#{v}" }.join(" ")
            # ansible.extra_vars = extra_vars

            ansible.verbose = true
            ansible.tags = ENV['TAGS']
        end
    end
    {% endfor %}

end