Vagrant.configure("2") do |config|

    {% for b in boxes %}
    config.vm.define :'{{ b.name }}' do |box|
        box.vm.box = "precise_base"
        box.vm.hostname = "{{ b.ip|replace('.', '-') }}"

        box.vm.network :private_network, ip: "{{b.ip}}"

        box.vm.provider :virtualbox do |vb|
            vb.customize ["modifyvm", :id, "--memory", "{{ b.extra.mem }}"]
            vb.customize ["modifyvm", :id, "--vtxvpid", "off"]
            vb.customize ["modifyvm", :id, "--cpus", "1"]

            # Enables symlinks feature in VirtualBox (https://github.com/mitchellh/vagrant/issues/713#issuecomment-4416384)
            vb.customize ["setextradata", :id, "VBoxInternal2/SharedFoldersEnableSymlinksCreate/v-root", "1"]
        end

        {% for s in b.extra.shares %}
        config.vm.synced_folder "{{ s[0] }}", "{{ s[1] }}"
        {% endfor %}
    end
    {% endfor %}

end
