Vagrant.configure("2") do |config|

    {% for b in boxes %}
    config.vm.define :'{{ b.name }}' do |box|
        box.vm.box = "{{ b.extra.image }}"
        box.vm.hostname = "{{ b.ip|replace('.', '-') }}"

        box.vm.network :private_network, ip: "{{b.ip}}"

        box.vm.provider :{{ b.extra.provider }} do |vp|
            {% if b.extra.provider == 'virtualbox' %}
            # http://www.virtualbox.org/manual/ch08.html#idp104267568
            vp.customize ["modifyvm", :id, "--memory", "{{ b.extra.mem }}"]
            vp.customize ["modifyvm", :id, "--vtxvpid", "off"]
            vp.customize ["modifyvm", :id, "--cpus", "1"]
            # Enables symlinks feature (https://github.com/mitchellh/vagrant/issues/713#issuecomment-4416384)
            vp.customize ["setextradata", :id, "VBoxInternal2/SharedFoldersEnableSymlinksCreate/v-root", "1"]
            {% endif %}

            {% if b.extra.provider == 'parallels' %}
            # http://parallels.github.io/vagrant-parallels/docs/configuration.html
            vp.memory = "{{ b.extra.mem }}"
            vp.cpus = "1"
            {% endif %}

            {% if b.extra.provider == 'vmware_fusion' %}
            # https://docs.vagrantup.com/v2/vmware/configuration.html
            vp.vmx["memsize"] = "{{ b.extra.mem }}"
            vp.vmx["numvcpus"] = "1"
            {% endif %}
        end

        {% for s in b.extra.shares %}
        config.vm.synced_folder "{{ s[0] }}", "{{ s[1] }}"
        {% endfor %}
    end
    {% endfor %}

end
