---
  # Parameters:
  #  prudentia_dir (provided)

  - name: vsftpd | Check if is installed
    command: test -x /usr/sbin/vsftpd
    when: ansible_system == "Linux"
    register: vsftpd_present
    ignore_errors: yes
    tags:
      - vsftpd

  - name: vsftpd | Install
    apt: force=yes state=present pkg=vsftpd
    when: ansible_os_family == "Debian" and vsftpd_present|failed
    become: yes
    tags:
      - vsftpd

  - name: vsftpd | Copy configuration file
    copy: src={{prudentia_dir}}/files/vsftpd/vsftpd.conf dest=/etc/vsftpd.conf
    when: ansible_os_family == "Debian"
    register: vsftpd_conf
    become: yes
    tags:
      - vsftpd

  - name: vsftpd | Restart
    service: name=vsftpd state=restarted
    when: vsftpd_conf.changed
    become: yes
    tags:
      - vsftpd
